<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MuTestSettingsSection" type="MuTest.Core.Common.Settings.MuTestSettingsSection, MuTest.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <MuTestSettingsSection>
    <MuTestSettings VSTestConsolePath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" MSBuildPath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe" TestsResultDirectory="C:\Dashboard\TestResults\" MSBuildLogDirectory="C:\Dashboard\MSBuildLogs\" ServiceAddress="" Options=" /Enablecodecoverage" MSBuildVerbosity="Normal" RunSettingsPath="C:\Dashboard\output.runsettings" MSBuildCustomOption=" /p:RegisterForComInterop=false" />
  </MuTestSettingsSection>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>