<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="MuTestSettingsSection"
             type="MuTest.Core.Common.Settings.MuTestSettingsSection, MuTest.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016WhiteSE</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <MuTestSettingsSection>
    <MuTestSettings
      VSTestConsolePath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe"
      MSBuildPath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe"
      TestsResultDirectory="C:\Dashboard\TestResults\"
      MSBuildLogDirectory="C:\Dashboard\MSBuildLogs\"
      DynamicAssertsOutputPath="C:\Dashboard\DynamicAsserts\"
      DynamicAssertsAssemblyPath="DynamicAsserts\"
      DynamicAssertsCoreAssemblyPath="DynamicAssertsCore\"
      ServiceAddress="" 
      Options=" /Enablecodecoverage"
      MSBuildVerbosity="Normal"
      RunSettingsPath="C:\Dashboard\output.runsettings"
      MSBuildCustomOption=" /p:RegisterForComInterop=false" />
  </MuTestSettingsSection>
</configuration>